$grid-gutter: 16px;
$grid-columns: 3;
$grid-max: 1004px;

[class*="grid-"] {
    display: inline-block;
    padding: 0 $grid-gutter;
    margin-bottom: 20px;
    box-sizing: border-box;
}

@for $i from 1 through $grid-columns {
    .grid-#{$i} {
        width: 100% / $grid-columns * $i
    }
}